In [8]:
#Question4 
#Input in camel case
input=['ParthAgarwal','AmanBhambhu','HardikBhalla']

lst = [x.upper() for x in input] 

print(lst)

['PARTHAGARWAL', 'AMANBHAMBHU', 'HARDIKBHALLA']

In [9]:
#Question4
input=['ParthAgarwal','AmanBhambhu','HardikBhalla']

lst = [x.lower() for x in input] 

print(lst)

['parthagarwal', 'amanbhambhu', 'hardikbhalla']

In [12]:
#Question1
val=['aparth60@gmail.com','Parth']
flag=0
import re
for i in val:
    temp=re.sub("[^'@']",'',i)
    if(temp=='@'):
        print(i)

aparth60@gmail.com

In [14]:
#Question3
import pandas as pd
data=pd.read_csv("Data.csv")

In [15]:
data.head()

         country   age   salary purchased
0          china  34.0  23400.0       Yes
1    S@#p@#ai@!n  27.0  48000.0       Yes
2   G%er$#ma#@ny  30.0  54000.0        No
3      Sp##ai@@n  38.0  61000.0        No
4  Ge@#@rm!@@any  40.0      NaN       Yes

In [16]:
features=list(data.columns)
features

['country', 'age', 'salary', 'purchased']

In [17]:
len(features)

4

In [18]:
data.shape

(12, 4)

In [19]:
data.shape[1]

4

In [ ]:
# The length of the features in the data frame and List are the same.

In [20]:
for i in features:
    print(i)

country
age
salary
purchased

In [22]:
for i in data.columns:
    print(i)

country
age
salary
purchased

In [ ]:
# The order of the feature names are also the same